name: Run

on:
  workflow_dispatch:
    inputs:
      args:
        required: true
        description: 'Arguments to pass for the run command'
        type: string
  workflow_call:
    inputs:
      args:
        required: true
        type: string
    secrets:
      MONGO_SECRET:
        required: true
      MONGO_USER:
        required: true
      MONGO_CLUSTER:
        required: true
      MONGO_DATABASE:
        required: true
      DEEPL_TOKEN:
        required: false

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Build docker image
        run: docker build -f docker/Dockerfile -t starrylines_${{ github.sha }} . --no-cache
      - name: Run
        run: |
          docker run -e 'GITHUB_TOKEN= ${{ secrets.GITHUB_TOKEN }}' -e 'MONGO_SECRET=${{ secrets.MONGO_SECRET }}' -e 'MONGO_USER=${{ secrets.MONGO_USER }}' -e 'MONGO_CLUSTER=${{ secrets.MONGO_CLUSTER }}' -e 'MONGO_DATABASE=${{ secrets.MONGO_DATABASE }}' -e 'DEEPL_TOKEN=${{ secrets.DEEPL_TOKEN }}' starrylines_${{ github.sha }} ${{ inputs.args }}
