name: tests

on:
  push:
    branches:
      - main
      - develop
    paths:
      - 'src/main/kotlin/**'
      - 'src/test/kotlin/**'
      - 'build.gradle.kts'
      - 'settings.gradle.kts'
      - 'gradle.properties'
      - 'gradlew'
  workflow_call:
    secrets:
      MONGO_USER_TEST:
        required: true
      MONGO_SECRET_TEST:
        required: true
      MONGO_CLUSTER:
        required: true
      MONGO_DATABASE_TEST:
        required: true
      SONAR_TOKEN:
        required: true


jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - uses: actions/setup-java@v3
        with:
          distribution: 'adopt'
          java-version: '17'

      - name: Run build
        env:
          MONGO_USER: ${{ secrets.MONGO_USER_TEST }}
          MONGO_SECRET: ${{ secrets.MONGO_SECRET_TEST }}
          MONGO_CLUSTER: ${{ secrets.MONGO_CLUSTER }}
          MONGO_DATABASE: ${{ secrets.MONGO_DATABASE_TEST }}
          GITHUB_TOKEN: "not_a_token"
        run: |
          ./gradlew clean build --stacktrace --info

      - name: Archive test report
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: Test report
          path: build/reports/tests/test

      - name: SonarCloud Scan
        uses: sonarsource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.organization=pablolec
            -Dsonar.projectKey=PabloLec_StarryLines
            -Dsonar.coverage.jacoco.xmlReportPaths=./build/reports/kover/xml/report.xml
            -Dsonar.host.url=https://sonarcloud.io
            -Dsonar.sources=./src/main/kotlin
            -Dsonar.coverage.exclusions=**/Interface.kt,**/SupportedLanguage.kt
