name: Create tops

on:
  workflow_dispatch:
  schedule:
    - cron: '15 8 * * *'

jobs:
  tops:
    uses: PabloLec/StarryLines/.github/workflows/run.yml@main
    with:
      args: 'top all'
    secrets:
      MONGO_USER: ${{ secrets.MONGO_USER }}
      MONGO_SECRET: ${{ secrets.MONGO_SECRET }}
      MONGO_DATABASE: ${{ secrets.MONGO_DATABASE }}
      MONGO_CLUSTER: ${{ secrets.MONGO_CLUSTER }}
  translate:
    uses: PabloLec/StarryLines/.github/workflows/run.yml@main
    with:
      args: 'translate all'
    secrets:
      MONGO_USER: ${{ secrets.MONGO_USER }}
      MONGO_SECRET: ${{ secrets.MONGO_SECRET }}
      MONGO_DATABASE: ${{ secrets.MONGO_DATABASE }}
      MONGO_CLUSTER: ${{ secrets.MONGO_CLUSTER }}
      DEEPL_TOKEN: ${{ secrets.DEEPL_TOKEN }}
